<ion-header>
    <app-menu-toolbar>
    </app-menu-toolbar>
</ion-header>
<!-- <ion-toolbar color="accent" mode="ios"> -->
    <ion-segment  value="totaalstand" mode="md" (ionChange)="changeStand(isMatchStandActive)">
        <ion-segment-button value="totaalstand">
            <ion-label>Totaal</ion-label>
        </ion-segment-button>
        <ion-segment-button value="wedstrijdenstand">
            <ion-label>Wedstrijden</ion-label>
        </ion-segment-button>
    </ion-segment>
<!-- </ion-toolbar> -->
<ion-item lines="full" class="ion-no-padding" color="tertiary-accent" *ngIf="mijnStand">
    <ion-grid>
        <ion-row (click)="navigateToParticipant(mijnStand?.id)">
            <ion-col>
                <span class="hes-position">
                    {{isMatchStandActive ? mijnStand?.matchPosition : mijnStand?.position}}
                    <ion-icon *ngIf="!isMatchStandActive"
                    [name]="mijnStand?.previousPosition > mijnStand?.position ? 'caret-up-outline' : mijnStand?.previousPosition < mijnStand?.position ? 'caret-down-outline' : 'caret-forward-outline'"
                    [color]="mijnStand?.previousPosition > mijnStand?.position ? 'success' :  mijnStand?.previousPosition < mijnStand?.position  ? 'danger' : 'medium'">
                </ion-icon>
               <ion-icon *ngIf="isMatchStandActive"
                    [name]="mijnStand?.previousMatchPosition > mijnStand?.matchPosition ? 'caret-up-outline' : mijnStand?.previousMatchPosition < mijnStand?.matchPosition ? 'caret-down-outline' : 'caret-forward-outline'"
                    [color]="mijnStand?.previousMatchPosition > mijnStand?.matchPosition ? 'success' :  mijnStand?.previousMatchPosition < mijnStand?.matchPosition ? 'danger' : 'medium'">
                </ion-icon>
                </span>
                {{mijnStand?.displayName}}
            </ion-col>
            <ion-col size="3" class="ion-align-items-center ion-text-end">
                <ion-icon name="podium-outline"></ion-icon>
                {{isMatchStandActive ? mijnStand?.matchPoints : mijnStand?.totalPoints}}
            </ion-col>
        </ion-row>
        <hr style="background-color:black">
        <ion-row>
            <ion-col offset="1" class="match-col ion-align-items-center" (click)="openMatches(mijnStand?.id)">
                <ion-text color="dark">
                    <ion-icon name="football"></ion-icon>
                    {{mijnStand?.matchPoints}}
                    <ion-text color="dark" class="hes-delta-text" *ngIf="mijnStand?.deltaMatchPoints > 0">
                        (+{{mijnStand?.deltaMatchPoints}})
                    </ion-text>
                </ion-text>
            </ion-col>
            <ion-col class="poule-col ion-align-items-center ion-text-center" (click)="openPoules(mijnStand?.id)"
                *ngIf="!isMatchStandActive">
                <ion-text color="dark">
                    <ion-icon name="list"></ion-icon>
                    {{mijnStand?.poulePoints}}
                    <ion-text class="hes-delta-text" *ngIf="mijnStand?.deltaPoulePoints > 0">
                        (+{{mijnStand?.deltaPoulePoints}})
                    </ion-text>
                </ion-text>
            </ion-col>
            <ion-col class="knockout-col ion-align-items-center ion-text-end" (click)="openKnockout(mijnStand?.id)"
                *ngIf="!isMatchStandActive">
                <ion-text color="dark">
                    <ion-icon name="trophy"></ion-icon>
                    {{mijnStand?.knockoutPoints}}
                    <ion-text class="hes-delta-text" *ngIf="mijnStand?.deltaKnockoutPoints > 0">
                        (+{{mijnStand?.deltaKnockoutPoints}})
                    </ion-text>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
<ion-toolbar color="background" mode="ios">
    <ion-searchbar mode="ios" (ionChange)="search($event)" placeholder="Zoek deelnemer" color="light" debounce="500">
    </ion-searchbar>
</ion-toolbar>

<ion-content>
        <ng-container *ngFor="let line of stand; let itemBounds = bounds let i = index;">
            <ion-item [color]="line?.isMine ? 'tertiary-accent' : i % 2 != 0 ? 'secondary-accent' : ''" lines="full"
                class="ion-no-padding">
                <ion-grid>
                    <ion-row (click)="navigateToParticipant(line.id)">
                        <ion-col>
                            <span class="hes-position">
                    {{isMatchStandActive ? line?.matchPosition : line?.position}}
                                <ion-icon *ngIf="!isMatchStandActive"
                                [name]="line?.previousPosition > line?.position ? 'caret-up-outline' : line?.previousPosition < line?.position ? 'caret-down-outline' : 'caret-forward-outline'"
                                [color]="line?.previousPosition > line?.position ? 'success' :  line?.previousPosition < line?.position  ? 'danger' : 'medium'">
                            </ion-icon>
                           <ion-icon *ngIf="isMatchStandActive"
                                [name]="line?.previousMatchPosition > line?.matchPosition ? 'caret-up-outline' : line?.previousMatchPosition < line?.matchPosition ? 'caret-down-outline' : 'caret-forward-outline'"
                                [color]="line?.previousMatchPosition > line?.matchPosition ? 'success' :  line?.previousMatchPosition < line?.matchPosition ? 'danger' : 'medium'">
                            </ion-icon>
                            </span>
                            {{line.displayName}}
                        </ion-col>
                        <ion-col size="3" class="ion-align-items-center ion-text-end">
                            <ion-icon name="podium-outline"></ion-icon>
                            {{isMatchStandActive ? line.matchPoints : line.totalPoints}}
                        </ion-col>
                    </ion-row>
                    <hr [style]="line.isMine ? 'background-color:black' : ''">
                    <ion-row>
                        <ion-col offset="1" class="match-col ion-align-items-center" (click)="openMatches(line.id)">
                            <ion-text [color]="line?.isMine ? 'dark' : 'medium'">
                                <ion-icon name="football"></ion-icon>
                                {{line.matchPoints}}
                                <ion-text [color]="line?.isMine ? 'dark' : 'medium'"
                                 class="hes-delta-text" *ngIf="line.deltaMatchPoints > 0">
                                    (+{{line.deltaMatchPoints}})
                                </ion-text>
                            </ion-text>
                        </ion-col>
                        <ion-col class="poule-col ion-align-items-center ion-text-center" (click)="openPoules(line.id)"
                            *ngIf="!isMatchStandActive">
                            <ion-text [color]="line?.isMine ? 'dark' : 'medium'">
                                <ion-icon name="list"></ion-icon>
                                {{line.poulePoints}}
                                <ion-text class="hes-delta-text" *ngIf="line.deltaPoulePoints > 0">
                                    (+{{line.deltaPoulePoints}})
                                </ion-text>
                            </ion-text>
                        </ion-col>
                        <ion-col class="knockout-col ion-align-items-center ion-text-end"
                            (click)="openKnockout(line.id)" *ngIf="!isMatchStandActive">
                            <ion-text [color]="line?.isMine ? 'dark' : 'medium'">
                                <ion-icon name="trophy"></ion-icon>
                                {{line.knockoutPoints}}
                                <ion-text class="hes-delta-text" *ngIf="line.deltaKnockoutPoints > 0">
                                    (+{{line.deltaKnockoutPoints}})
                                </ion-text>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ng-container>
</ion-content>