<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131148888399-jvp1uc62m4sljbhp3g7n5edgtq8v1nrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131148888399-jvp1uc62m4sljbhp3g7n5edgtq8v1nrf</string>
	<key>API_KEY</key>
		<string>AIzaSyArbKc_orvNUHzhG8ZxahaFFXgGXHliTCU</string>
	<key>GCM_SENDER_ID</key>
		<string>309318087423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wernerholzapfel.hetekspel</string>
	<key>PROJECT_ID</key>
		<string>hetekspel-24</string>
	<key>STORAGE_BUCKET</key>
	<string>hetekspel-24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
		<string>1:309318087423:ios:1f2e15a2e2b509ee40d2ca</string>
	<key>DATABASE_URL</key>
		<string>https://hetekspel-24-default-rtdb.firebaseio.com</string>
</dict>
</plist>