<ion-header>
  <app-menu-toolbar></app-menu-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>

      <ion-col size="12" size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <div class="hes-background-tertiary ion-padding">
            <img src="/assets/header_hetekspel2024_light_mode.png" alt="" />
          </div>
          <ion-card-header>
            <ion-card-title color="primary">
              Welkom bij het EK spel 2024
            </ion-card-title>
            <ion-card-subtitle>Spanje heeft het EK 2024 gewonnen!</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Een terechte winnaar, ze speelden het mooiste en beste voetbal en rekenden af met de beste tegenstanders. Een vrij saaie eerste helft en een zeer enerverende tweede helft leidden tot een 2-1 winst voor Spanje.<BR><BR>
              De grote winnaar van Het EK Spel is <strong>Mattijs</strong>! Mattijs was na de poulewedstrijden al vijfde in de stand en deed het in de finaleronde ook uitstekend. Hij voorspelde uiteindeljk voor vandaag met Spanje en Engeland de juiste finalisten en had ook Spanje als Europees kampioen goed. Er waren maar 14 deelnemers die voorafgaand aan het toernooi dachten dat Spanje uiteindelijk de winnaar zou zijn.<BR><BR>
              De uiteindelijke prijswinnaars: <BR>
              <strong>Prijzen eindstand:</strong><BR>
              Nummer 1: <strong>Mattijs</strong> 200 euro<BR>
              Nummer 2: <strong>Werner Holzapfel</strong> 150 euro<BR>
              Nummer 3: <strong>Frans Witt</strong> 100 euro<BR>
              Nummer 4: <strong>Eric van Vliet</strong> 70 euro<BR>
              Nummer 5: <strong>EKappie</strong> en <strong>Henrike Lankveld</strong> 35 euro<BR>
              Nummer 7: <strong>Pieter Jan Duits</strong> en <strong>Erik Hooijschuur</strong> 12,50 euro<BR>
              <strong>Prijzen na de poulewedstrijden (excl. poulestanden):</strong><BR>
              Nummers 1: <strong>Lina</strong>, <strong>John D'H</strong> en <strong>Tessa van Leeuwen</strong>: 86,67 euro<BR><BR>
              <i>Vanaf dit moment zijn de stand en de statistieken nog wel te bekijken, maar kun je niet meer doorklikken naar de details. Dit is gedaan, zodat we geen server- en databasekosten meer hoeven te maken.</i><BR><BR>
              
              Iedereen bedankt voor de deelname en voor alle leuke reacties! Hopelijk tot over twee jaar bij Het WK Spel 2026!
          </ion-card-content>
        </ion-card></ion-col>

      <ion-col size="12" size-md="6" size-lg="6" size-xl="6" *ngIf="!(authService.user$ | async)">
        <app-login></app-login>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>