<ion-header>
  <app-menu-toolbar></app-menu-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6" size-xl="6">
        <ion-card>
          <div class="hes-background-tertiary ion-padding">
            <img src="/assets/hetwkspel_header_wit.png" alt="" />
          </div>
          <ion-card-header>
            <ion-card-title color="primary">
              Welkom bij het WK spel 2026
            </ion-card-title>
            <ion-card-subtitle>Jip Schwering wint Het WK Spel 2026!</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Spanje is de winnaar van het WK 2026! Ze versloegen Argentinië in de finale.<br><br>

            Spanje is 50x voorspeld als wereldkampioen (tegenover 13x Argentinië) en dat leverde dus voor veel
            deelnemers de laatste 300 punten op.<br> De grote winnaar van Het WK Spel 2026 is <B>Jip Schwering</B>, hij
            stond al langer aan de leiding en door de winst van Spanje blijft hij op de eerste plaats. Naast de 300
            punten voor Spanje, wint Jip ook de 300 euro die hoort bij de eerste plek in de eindstand. <B>Jorne
              Dijkerman</B> kende ook een hele goede eindsprint en wordt de nummer twee. Daarachter behoudt <B>Tom
              Dijkerman</B> zijn derde plek. <B>Hans Berenpas</B> ging voor Argentinië en valt uit de top 5, hij stond
            4e en maakt dus een flinke duikeling. <B>Yvonne Minderhoud</B> stijgt nog een plek en staat vierde, de
            vijfde plaats is voor <B>Marco Nijman</B>.<BR><BR>
            <B>Alle prijswinnaars van Het WK Spel:</B>
            <BR><BR>
            <B>Eindstand Het WK Spel 2026:</B>
            <ol>
              <li><b>Jip Schwering</b></li>
              <li><b>Jorne Dijkerman</b></li>
              <li><b>Tom Dijkerman</b></li>
              <li><b>Yvonne Minderhoud</b></li>
              <li><b>Marco Nijman</b></li>
            </ol>
            <B>Na de poulewedstrijden:</B>
            <ol>
              <li><b>Jasper van Maanen</b></li>
              <li><b>Jesse Veen</b></li>
              <li><b>Dimi</b></li>
              <li><b>Peter Schieven</b></li>
            </ol>
            Felicitaties aan alle prijswinnaars!<BR><BR>
            Iedereen weer bedankt voor de deelname! We hebben we weer veel leuke, enthousiaste reacties gehad. We hebben
            gemerkt dat het voor veel mensen het plezier tijdens het WK weer heeft verhoogd, dat is voor ons ook heel
            leuk! <br><br>Een hele fijne zomer / vakantie gewenst!
          </ion-card-content>
        </ion-card></ion-col>

      @if (!(authService.user$ | async)) {
      <ion-col size="12" size-md="6" size-lg="6" size-xl="6">
        <app-login></app-login>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>