<ion-header>
  <app-menu-toolbar></app-menu-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title>Poulewedstrijden</ion-card-title>
  </ion-card-header>
  @for (match of matches; track match.id) {
  <app-speelschema-match-item
    [match]="match"
    [url]="'poule'"
  ></app-speelschema-match-item>
  }
  <ion-card-header>
    <ion-card-title>Finaleronde</ion-card-title>
  </ion-card-header>
  @for (match of knockout; track match.id) {
  <app-speelschema-match-item
    [match]="match"
    [url]="'finaleronde'"
  ></app-speelschema-match-item>
  }
</ion-content>
