<ion-header>
  <app-menu-toolbar (emitIconClick)="showFilter = !showFilter"
    [iconColor]="(selectedUitslagen$ | async).length > 0 || showFilter ? 'secondary' : ''"
    rightCornerIcon="funnel"></app-menu-toolbar>
  @if (match) {
  <div class="ion-no-padding">
    <ion-toolbar color="background" class="ion-no-padding" mode="ios">
      @if (showFilter) {
      <ion-grid class="hes-background">
        @for (toto of totoUitslagen; track toto) {
        <ion-row class="hes-background" (click)="setTotoUitslagenAsFilter(toto.uitslagen)">
          @if (toto.toto === 1) {
          <ion-col class="ion-text-center">
            <ion-text color="dark">
              Winst {{match.homeTeam.name}}
              <span class="fi fi-{{match?.homeTeam?.logoUrl}} fis"></span>
            </ion-text>
          </ion-col>
          } @if (toto.toto === 2) {
          <ion-col class="ion-text-center">
            <ion-text color="dark">
              Winst {{match.awayTeam.name}}
              <span class="fi fi-{{match?.awayTeam?.logoUrl}} fis"></span>
            </ion-text>
          </ion-col>
          } @if (toto.toto === 3) {
          <ion-col class="ion-text-center">
            <ion-text color="dark"> Gelijkspel</ion-text>
          </ion-col>
          }
        </ion-row>
        @for (uitslag of toto.uitslagen; track uitslag) {
        <ion-row (click)="filterUitslag(uitslag)">
          <ion-col class="ion-align-self-start">
            <ion-badge [color]="uitslag.active ? 'secondary' : 'primary'">
              {{uitslag.homeScore}} - {{uitslag.awayScore}}</ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-align-self-center">
            <ion-progress-bar [color]="uitslag.active ? 'secondary' : 'primary'" style="height: 20px"
              [value]="uitslag.count"></ion-progress-bar>
          </ion-col>
          <ion-col class="ion-align-self-end ion-text-end">
            <ion-badge [color]="uitslag.active ? 'secondary' : 'primary'">{{uitslag.aantal}}</ion-badge>
          </ion-col>
        </ion-row>
        } }
        <ion-row class="hes-background" (click)="resetFilter()">
          <ion-col size="12" class="ion-align-self-center ion-text-center">
            <ion-chip color="dark">Reset filter</ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
      } @if (!showFilter && (selectedUitslagen$ | async).length > 0) {
      <ion-grid class="hes-background">
        @for (uitslag of (selectedUitslagen$ | async); track uitslag) {
        <ion-row class="hes-background" (click)="showFilter = !showFilter">
          <ion-col class="ion-align-self-start">
            <ion-badge [color]="'secondary'">
              {{uitslag.homeScore}} - {{uitslag.awayScore}}</ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-align-self-center">
            <ion-progress-bar color="secondary" style="height: 20px" [value]="uitslag.count"></ion-progress-bar>
          </ion-col>
          <ion-col class="ion-align-self-end ion-text-end">
            <ion-badge color="secondary">{{uitslag.aantal}}</ion-badge>
          </ion-col>
        </ion-row>
        }
      </ion-grid>
      }
      <ion-searchbar mode="ios" (ionInput)="search($event)" placeholder="Zoek deelnemer" color="light"
        debounce="500"></ion-searchbar>
    </ion-toolbar>
  </div>
  }
</ion-header>
<ion-content>
  <ion-card class="match-card">
    <app-city-card-header [match]="match" [showImage]="false"></app-city-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col>
                <span class="fi fi-{{match?.homeTeam.logoUrl}} fis"></span>
                {{match?.homeTeam.name}}
              </ion-col>
              <ion-col class="ion-text-end"> {{match?.homeScore}} </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="fi fi-{{match?.awayTeam.logoUrl}} fis"></span>
                {{match?.awayTeam.name}}
              </ion-col>
              <ion-col class="ion-text-end"> {{match?.awayScore}} </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  @if (false) {
  <ion-grid class="ion-padding">
    <ion-row style="font-size: x-small">
      <ion-col size="6" class="ion-padding ion-text-start hes-background">
        <ion-text color="medium"> {{match?.date | date}} </ion-text>
      </ion-col>
      <ion-col size="6" class="ion-padding ion-text-end hes-background">
        <ion-text color="medium"> Poule {{match?.poule}} </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="hes-border-bottom">
      <ion-col class="hes-background">
        <ion-row>
          <ion-col>
            {{match?.homeScore}}
            <span class="fi fi-{{match?.homeTeam.logoUrl}} fis"></span>
            {{match?.homeTeam.name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{match?.awayScore}}
            <span class="fi fi-{{match?.awayTeam.logoUrl}} fis"></span>
            {{match?.awayTeam.name}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  }
  <ion-grid>
    @for (prediction of match?.matchPredictions; track prediction) {
    <ion-row class="hes-border-bottom" (click)="navigateToParticipant(prediction.participant.id)">
      <ion-col [ngClass]="prediction.isMine ? 'hes-background-secondary-tint' : 'hes-background'" size="9">
        <ion-row>
          <ion-col size="9" class="hes-overflow">
            {{prediction.tableLine.position}})
            {{prediction.participant.displayName}}
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-icon name="podium-outline"></ion-icon>
            {{prediction.tableLine.totalPoints}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="match-col ion-align-items-center">
            <ion-text [color]="prediction.isMine ? 'medium' : 'medium'">
              <ion-icon name="football"></ion-icon>
              {{prediction.tableLine.matchPoints}}
            </ion-text>
          </ion-col>
          <ion-col class="poule-col ion-align-items-center ion-text-center">
            <ion-text [color]="prediction.isMine ? 'medium' : 'medium'">
              <ion-icon name="list"></ion-icon>
              {{prediction.tableLine.poulePoints}}
            </ion-text>
          </ion-col>
          <ion-col class="knockout-col ion-align-items-center ion-text-end">
            <ion-text [color]="prediction.isMine ? 'medium' : 'medium'">
              <ion-icon name="trophy"></ion-icon>
              {{prediction.tableLine.knockoutPoints}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="hes-background-secondary-accent">
        <ion-row>
          <ion-col size="6" class="ion-no-padding ion-text-start">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-text-start">
                <span class="hes-show-flag fi fi-{{match?.homeTeam.logoUrl}} fis"></span>
                {{prediction.homeScore}}
              </ion-col>
            </ion-row>
            <ion-row class="ion-no-padding">
              <ion-col class="ion-text-start">
                <span class="hes-show-flag fi fi-{{match?.awayTeam.logoUrl}} fis"></span>
                {{prediction.awayScore}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="6" class="ion-no-padding ion-text-start ion-align-self-center">
            @if (prediction.spelpunten != null) {
            <ion-chip color="primary"> {{prediction.spelpunten}} </ion-chip>
            }
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>