<ion-item (click)="url === 'poule' ? openMatch(match?.id) : ''" class="ion-no-padding" lines="none">
    <ion-grid class="ion-no-padding ion-padding-start">
        <ion-row style="font-size: x-small">
            <ion-col size="6" class="ion-padding-vertical ion-text-start hes-background">
                <ion-text color="medium">
                    {{match?.date | date : 'dd MMMM HH:mm'}}
                </ion-text>
            </ion-col>
            <ion-col size="6" class="ion-padding ion-text-end hes-background">
                <ion-text color="medium">
                    {{match?.poule ? 'poule ' + match?.poule : match.round | roundText : true }}
                    <ion-text color="medium">{{match.matchId}}</ion-text>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="hes-border-bottom">
            <ion-col class="hes-background">
                <ion-row (click)="url !== 'poule' ? openKnockout(match?.homeTeam?.id, match?.round) : ''">
                    <ion-col class="ion-padding-vertical">
                        {{match?.homeScore}}
                        <span class="fi fi-{{match?.homeTeam?.logoUrl}} fis"></span>
                        {{match?.homeTeam?.id ? match?.homeTeam?.name : 'Winnaar ' + match.homeId}}
                    </ion-col>
                    <!-- <ion-col class="ion-padding-end ion-text-end"> -->
                        <!-- <ion-text color="medium" *ngIf="match?.homeId">({{match?.homeId}})</ion-text> -->
                    <!-- </ion-col> -->
                </ion-row>
                <ion-row (click)="url !== 'poule' ? openKnockout(match?.awayTeam?.id, match?.round) : ''">
                    <ion-col class="ion-padding-vertical">
                        {{match?.awayScore}}
                        <span class="fi fi-{{match?.awayTeam?.logoUrl}} fis"></span>
                        {{match?.awayTeam?.id ? match?.awayTeam?.name : 'Winnaar ' + match?.awayId }}
                    </ion-col>
                    <!-- <ion-col class="ion-padding-end ion-text-end"> -->
                        <!-- <ion-text color="medium" *ngIf="match?.awayId">({{match.awayId}})</ion-text> -->
                    <!-- </ion-col> -->

                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>