<ion-header>
  <app-menu-toolbar title="Knockouts"></app-menu-toolbar>
</ion-header>
<ion-content>
  <div class="alert-banner alert-secondary">
    <ion-card-content>
      De statistieken van de finaleronde laten zien hoevaak een team
      gekozen is in die specifieke ronde.
    </ion-card-content>
  </div>
  @for (knockout of knockoutStats; track knockout) {
  <ion-item-divider sticky>
    <ion-label>{{knockout.round | roundText}}</ion-label>
  </ion-item-divider>
  @for (team of knockout.teams; track team) { @if (team.count > 0) {
  <ion-item lines="full" (click)="openKoTeam(team.id, knockout.round)" class="hes-background-secondary-accent"
    [color]="myTeamsByRound.get(knockout.round?.toString())?.has(team.id?.toString()) ? 'tertiary-tint' : ''">
    <ion-text>
      <span class="fi fi-{{team.logoUrl}} fis"></span>
      {{team.name}}
    </ion-text>
    <ion-text slot="end"> {{team.count}} </ion-text>
  </ion-item>
  } } }
</ion-content>