:host {
    ion-chip {
        background: var(--ion-color-secondary);
        color: #fff;
      }
}

:host {
  .hes-jij-text {
    font-size: 12px;
    font-style: italic;
    color: var(--ion-color-dark);
    border-top: 1px solid var(--ion-color-light-shade);
  }

  .hes-pts-chip {
    margin: 0;
    height: 24px;
    min-height: 24px;
    font-size: 12px;
    font-weight: bold;
  }

  --ion-padding: 10px;

  ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    // here other custom CSS from documentation
  }

  ion-col {
    --ion-padding: 5px;
  }

  ion-row {
    --ion-padding: 5px;
  }

  ion-chip {
    background: var(--ion-color-secondary);
    color: #fff;
  }
}
