<ion-grid class="hes-background ion-no-padding-end">
  @for (team of teams; track team.id) {
  <ion-row class="hes-background ion-no-padding hes-border-bottom" (click)="teamClick.emit(team.id)">
    <ion-col class="hes-background ion-align-self-center">
      <span class="fi fi-{{team.logoUrl}} fis"></span>
      {{team.name}}
    </ion-col>
    <ion-col size="3" class="hes-background-secondary-accent">
      <ion-row>
        <ion-col size="4" class="ion-no-padding ion-text-start ion-align-self-center">
          <app-knockout-icon-row [eliminationState]="team.eliminationState"></app-knockout-icon-row>
        </ion-col>
        <ion-col size="8" class="ion-no-padding ion-align-self-center ion-text-center">
          @if (team.eliminationState !== 'unknown') {
          <ion-chip color="secondary">{{team.spelPunten ?? 0}}</ion-chip>
          }
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  }
</ion-grid>
