@if (headlines?.length > 0 || isAdmin) {
<ion-card class="welcome-card">
  <div class="hes-background-secondary ion-padding">
    <img src="/assets/hetwkspel_header_wit.png" alt="" />
  </div>
  @if (headline) {
  <ion-card-header>
    <ion-card-title color="primary">
      {{ headline.title }}
    </ion-card-title>
    <ion-card-subtitle>{{
      this.headline.createdDate | fromNow
    }}</ion-card-subtitle>
  </ion-card-header>
  } @if (headline) {
  <ion-card-content> <p [innerHTML]="headline.text"></p></ion-card-content>

  }
  <div class="headline-nav">
    <ion-buttons>
      <ion-button
        fill="clear"
        [disabled]="headlineIndex === 0"
        (click)="previousHeadline()"
      >
        <ion-icon slot="icon-only" color="primary" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-label color="medium">
        {{ headlineIndex + 1 }} van {{ headlines?.length }}
      </ion-label>
      <ion-button
        fill="clear"
        [disabled]="headlineIndex + 1 === headlines?.length"
        (click)="nextHeadline()"
      >
        <ion-icon slot="icon-only" color="primary" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    @if (isAdmin) {
    <ion-buttons>
      <ion-button fill="clear" (click)="addHeadline()">
        <ion-icon slot="icon-only" color="primary" name="add"></ion-icon>
      </ion-button>
      <ion-button
        fill="clear"
        [disabled]="headlines?.length === 0"
        (click)="editHeadline(headline, false)"
      >
        <ion-icon slot="icon-only" color="primary" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
  </div>
</ion-card>
}
