<ion-header>
  <app-menu-toolbar title="Finaleronde"></app-menu-toolbar>
</ion-header>
<ion-content appGestures [gestureOpts]="gestureOpts" (swipe)="onSwipe($event)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <div class="alert-banner alert-secondary">

    @if (standLine) {
    <ion-card-content>
      {{standLine?.displayName}} staat {{standLine?.position}}e met
      {{standLine?.totalPoints}} punten, waarvan {{standLine?.knockoutPoints}}
      punten voor de finaleronde.
    </ion-card-content>
    }
  </div>
  <ion-grid>
    @if (knockoutSpeelschema) {
    
    } @for (roundGroup of knockoutSpeelschema; track roundGroup.round) {
    <ion-row>
      <ion-col>{{roundGroup.round | roundText}} </ion-col>
    </ion-row>
      @for (match of roundGroup.matches; track match.id) {
    <ion-row class="ion-no-padding hes-border-bottom">
      <ion-col class="hes-background">
        <ion-row>
          <ion-col
            (click)="openKoTeam(match.prediction?.homeTeam?.id, match.round)"
          >
            <span class="fi fi-{{match.prediction?.homeTeam?.logoUrl}} fis"></span>
            {{match.prediction?.homeTeam?.name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            (click)="openKoTeam(match.prediction?.awayTeam?.id, match.round)"
          >
            <span class="fi fi-{{match.prediction?.awayTeam?.logoUrl}} fis"></span>
            {{match.prediction?.awayTeam?.name}}
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3" class="hes-background-secondary-accent">
        <ion-row>
          <ion-col size="4" class="ion-no-padding ion-text-start">
            <app-knockout-icon-row
              [eliminationState]="match?.prediction?.homeTeam?.eliminationState"
            ></app-knockout-icon-row>
            <app-knockout-icon-row
              [eliminationState]="match?.prediction?.awayTeam?.eliminationState"
            >
            </app-knockout-icon-row>
          </ion-col>
          <ion-col
            size="8"
            class="ion-no-padding ion-align-self-center ion-text-center"
          >
            @if (match.prediction?.homeTeam?.eliminationState !== 'unknown' || match.prediction?.awayTeam?.eliminationState !== 'unknown') {
            <ion-chip color="secondary">
              {{match.prediction?.homeTeam?.spelPunten +
              match.prediction?.awayTeam?.spelPunten}}
            </ion-chip>
            }
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    } }
  </ion-grid>
  @if (knockoutSpeelschema && winnaarTroostFinale && showWinnaarTroostFinale) {
  <ion-grid>
    <ion-row>
      <ion-col>Winnaar troostfinale </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid (click)="openKoTeam(winnaarTroostFinale?.team.id, '3')">
    <app-knockout-team-header
      [team]="winnaarTroostFinale?.team"
      [round]="1.5"
      [punten]="winnaarTroostFinale?.spelPunten"
    ></app-knockout-team-header>
  </ion-grid>
  }
  <ion-grid>
      <ion-row>
        <ion-col>Wereldkampioen </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid (click)="openKoTeam(kampioen?.team.id, 1)">
      <app-knockout-team-header
        [team]="kampioen?.team"
        [round]="1"
        [punten]="kampioen?.spelPunten"
      >
      </app-knockout-team-header>
    </ion-grid>
</ion-content>  
