:host {
  ion-row {
    align-items: center;
  }

  .odd {
    background-color: var(--ion-color-tertiary-tint);
    color: #000;
  }
  
  .even {
    color: #000;
  }

 .changedposition {
    background-color: var(--ion-color-s-secondary-tint);
    color: #000;
  }

  .internal {
    display: none
  }
  ion-chip {
    background: var(--ion-color-secondary);
    color: #fff;
  }
}
