<ion-row
  class="ion-padding"
  [ngClass]="
    line.positie === line.positieVoorspelling || !line.positieVoorspelling
      ? index % 2 == 0
        ? 'odd'
        : 'even'
      : 'changedposition'
  "
>
  <ion-col>
    <span class="fi fi-{{ line.team.logoUrl }} fis"></span>
    <ion-text>
      {{ line.positie }}
      {{ line.team.name }}
    </ion-text>
  </ion-col>
  <ion-col size="2">
    <ion-text>
      {{ line.gespeeld }}
    </ion-text>
  </ion-col>
  <ion-col size="2">
    <ion-text>
      {{ line.punten }}
    </ion-text>
  </ion-col>
  <ion-col [size]="isSortDisabled ? 2 : 1">
    <ion-text>
      {{ line.goalsFor - line.goalsAgainst }}
    </ion-text>
  </ion-col>
  @if (!(isRegistrationOpen$ | async) && !admin) {
  <ion-col size="1">
    @if (line.spelpunten === 0) {
    <ion-icon name="close-outline" color="danger"></ion-icon>
    } @if (line.spelpunten === null) {
    <ion-icon name="help-outline" color="medium"></ion-icon>
    } @if (line.spelpunten === 5) {
    <ion-icon name="checkmark-outline" color="success"></ion-icon>
    }
  </ion-col>
  } @if (admin) {
  <ion-col size="1">
    @if (line.team.isEliminated && line.team.eliminationRound === '32') {
    <ion-icon
      (click)="openSelect()"
      name="close-outline"
      color="danger"
    ></ion-icon>
    } @if (line.team.isEliminated === null) {
    <ion-icon
      (click)="openSelect()"
      name="help-outline"
      color="medium"
    ></ion-icon>
    } @if (line.team.isEliminated === false || line.team.isEliminated &&
    line.team.eliminationRound !== '32') {
    <ion-icon
      (click)="openSelect()"
      name="checkmark-outline"
      color="success"
    ></ion-icon>
    }
  </ion-col>
  } @if (!isSortDisabled) {
  <ion-col size="1">
    <ion-icon name="shuffle-outline"></ion-icon>
  </ion-col>
  }
</ion-row>
